


* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #ffffff;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #111111;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.container {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: relative;
  flex-direction: column;
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Inter', sans-serif;
  
}

.titulo h1 {
  font-size: 46px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.titulo p {
  margin-top: 23px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.right {
  width: 50%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastrarLogin {
  width: 70%;
  height: 80%;
  border-radius: 10px;
  background: rgb(77, 20, 199);
  background: linear-gradient(177deg, rgba(77, 20, 199, 1) 0%, rgb(55, 91, 211) 44%, rgba(23, 93, 243, 0.884) 98%);
 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  justify-content: space-around;
}

.conteudoRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.bemvindoH1 {
  font-size: 40px;
  font-weight: bold;
}

.entrarNaConta {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin-top: -40px;
}

.textoRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.imgDash {
  width: 90%;
}

.container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  width: auto;
}

.container-inputs input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 0.8px solid #9598C1;
  color: #9598C1;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  background: #1111;
  padding: 15px;
}

.inputs {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.inputs p {
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
}

.esqueceu_senha {
  align-self: flex-end;
  margin-top: 23px;
}

.esqueceu_senha a {
  text-decoration: none;
  font-size: 16px;
}

.semconta {
  display: flex;
  width: 100%;
  justify-content: center;
  
  margin-top: 15%;
}

.semconta a {
  color: #3594BB;
  text-decoration: none;
  margin-left: 2px;
}

.login {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login button {
  width: 530px;
  height: 50px;
  font-family: 'Inter', sans-serif;
  background-color: #2720EC;
  border: none;
  transition: transform 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .logo {
      display: flex;
      justify-content: center;
      margin-left: 15px;
  }

  .container {
      display: flex;

      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
  }

  .titulo {
      display: flex;
      flex-direction: column;
      text-align: center;
      

  }

  .titulo h1 {
      font-size: 36px;
      font-weight: bold;
  }

  .titulo p {
      margin-top: 23px;
      font-size: 20px;
  }

  .right {
      width: 50%;
      height: 100%;
      background-color: #111111;
      font-family: 'Inter', sans-serif;
  }

  .container-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      font-weight: bold;
      width: auto;
  }

  .container-inputs input {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 450px;
      border: 0.8px solid #9598C1;
      color: #9598C1;
      
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
      background: #1111;
      padding: 15px;
  }

  .inputs {
      margin-top: 20px;
  }

  .inputs p {
      margin-bottom: 15px;
  }

  .esqueceu_senha {
      align-self: flex-end;
      margin-top: 23px;
  }

  .esqueceu_senha a {
      text-decoration: none;
      font-size: 16px;
  }

  .semconta {
      display: flex;
      width: 100%;
      justify-content: center;
      font-family: 'Inter', sans-serif;
      margin-top: 15%;
  }

  .semconta a {
      color: #3594BB;
      text-decoration: none;
      margin-left: 2px;
      font-family: 'Inter', sans-serif;
  }

  .login {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .login button {
      width: 480px;
      height: 50px;
      font-family: 'Inter', sans-serif;
      background-color: #7449EB;
      border: none;
      transition: transform 0.5s;
      cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .right {
      display: none;
  }

  .left {
      width: 100%;
      padding: 0;
  }

  .container {
      width: 80%;
  }

  .container-inputs {
      width: 100%;
      justify-content: left;
      align-items: baseline;
      margin: 0;
      padding: 0;

  }

  .container-inputs input {
      width: 89.5%;

  }

  .inputs {
      width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container-inputs input {
      width: 96%;

  }
}

@media (max-width: 431px) {

  .container-inputs input {
      width: 96%;


  }

  .inputs {
      width: 94.5%;

  }
}